<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.01 0.01 0.005"/>
            </geometry>
            <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.001"/>
            <origin xyz="0.0 0.0 0.0"/>
            <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
        </inertial>
    </link>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
        <pose>0 0 0 0 0 0</pose>
        <always_on>true</always_on>
        <update_rate>100.0</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <imu>
            <linear_acceleration>
                <x>
                    <noise type="gaussian" mean="0.0" stddev="0.001" />
                </x>
                <y>
                    <noise type="gaussian" mean="0.0" stddev="0.001" />
                </y>
                <z>
                    <noise type="gaussian" mean="0.0" stddev="0.001" />
                </z>
            </linear_acceleration>
            <angular_velocity>
                <x>
                    <noise type="gaussian" mean="0.0" stddev="0.001" />
                </x>
                <y>
                    <noise type="gaussian" mean="0.0" stddev="0.001" />
                </y>
                <z>
                    <noise type="gaussian" mean="0.0" stddev="0.001" />
                </z>
            </angular_velocity>
        </imu>

        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
            <topicName>imu</topicName>
            <bodyName>imu_link</bodyName>
            <updateRateHZ>10.0</updateRateHZ>
            <gaussianNoise>0.0</gaussianNoise>
            <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
    </sensor>
    </gazebo>

</robot>